<div class="p-3">
  <div class="mb-3">
    <label for="pokemonTypeFilterSelect" class="form-label">Filtrer par type :</label>
    <select class="form-control" id="pokemonTypeFilterSelect" (change)="onChange($event)">
      <option selected disabled value="">Select a type</option>
      <option *ngFor="let type of types">{{ type }}</option>
    </select>
  </div>
</div>

<div class="box" *ngFor="let pokemon of pokemons">
  <div class="pokemon-box">
    <div class="left">

      <div class="top">

        <span class="id">#{{pokemon.id}}</span>
        <h1>{{ pokemon.name}}</h1>

      </div>

      <div class="bottom">

        <span class="type" *ngFor="let type of pokemon.types" class="badge rounded-pill p-2 mx-1 pokemon-background-type pokemon-background-type-{{type.type.name}}">{{ type.type.name }} </span>

      </div>

    </div>

    <div class="right">
      <img src="https://img1.freepng.fr/20171220/ofw/star-png-image-5a3a7e9651e390.02167008151378293433541614.jpg"
        alt="like" class="start">
      <img class="pokeimg" [src]="pokemon.sprites.front_default">
    </div>

  </div>
</div>
<button (click)="loadMore()">Load More</button>

